.drawer-layout-style{
    margin: 30px 40px;
}

.drawer-bottom{
    text-align: end;
    margin: 20px 0px;
}

.personal-row-style{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    margin: 5px 0px;
}

.address-row-style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px 0px;
}

.skill-item-style, .language-item-style{
    display: grid;
    grid-template-columns: 2fr 1fr 0.2fr;
    gap: 10px;
}

.date-range-style{
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
    gap: 10px;
    width: 100%;
}