.drawer-layout-style{
    margin: 20px;
}

.drawer-bottom{
    text-align: end;
    margin: 20px 0px;
}

.skill-item-style{
    display: grid;
    grid-template-columns: 2fr 1fr 0.2fr;
    gap: 10px;
}