.name-card-layout{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-photo{
    background: lightgray;
    aspect-ratio: 1.25/1;
    text-align: center;
    align-content: center;
    
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello-text{
    font-size: 32px;
}

.name-text{
    font-size: 42px;
    font-weight: 700;
}

.name-card-footer{
    background: #1976d2;
    color: white;
    grid-column: span 2;
    justify-content: end;
}

.social-media-list{
    margin-right: 20px;
}