header{
  height: 40vh;
  align-content: center;
  text-align: center;
  background-image: url('../public/Photos/background.jpg');
}

footer{
  background: #252525;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.drawer-appbar-style{
  background: #2196f3;
  display: flex;
  justify-content: space-between;
}