header{
  height: 40vh;
  text-align: end;
  padding: 30px 5% 0;
   /* parallax */
  background-image: url('../public/Photos/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  background: #252525;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

.drawer-appbar-style{
  background: #2196f3;
  display: flex;
  justify-content: space-between;
}